<h1>My Artist</h1>
  <%= @artist.name %><br>
  <% for song in @artist.list_songs %>
  <%= song %><br>
  <% end %>
  <% for genre in @artist.list_genres %>
  <%= genre %><br>
  <% end %>

<p>My artist bio</p>
<%= @artist.bio%>
